body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.screen {
  /* width: 1000px; */
  /* height: 1000px; */
  background-color: rgb(0, 0, 56);
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: fixed;
}

.background {
  position: fixed;
}

/* .row {
  display: grid;
  justify-items: center;
  align-items: end;
}

.platformcontainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: grid;
  position: relative;
}
*/

.platform {
  background-image: url("/assets/platform.png");
  width: 120px;
  height: 36px;
  position: absolute;
}

.character {
  width: 92px;
  height: 92px;
  background-image: url("/assets/doodler-right.png");
  --doodle-left-image: url("/assets/doodler-left.png");
  --doodle-right-image: url("/assets/doodler-right.png");
  position: absolute;
}

.isJumping {
  animation: jump 600ms;
}

@keyframes jump {
  50% {
    top: 50%;
  }
}
